.parent {
  background-color: rgb(230, 224, 191);
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 600px;
}

.child-1 {
  background-color: rgb(12, 220, 206);
  height: 200px;
  position: absolute;
  width: 200px;
  transition: transform 1s ease-in-out;
}


.child-2 {
  background-color: rgb(220, 161, 12);
  height: 200px;
  position: absolute;
  width: 200px;
}

.child-3 {
  background-color: rgb(140, 12, 220);
  height: 200px;
  position: absolute;
  width: 200px;
}

.child-4 {
  background-color: rgb(210, 210, 210);
  height: 200px;
  position: absolute;
  width: 200px;
}

.child-5 {
  background-color: rgb(255, 147, 147);
  height: 200px;
  position: absolute;
  width: 200px;
}

  .parent:hover .child-1 {
  animation: move 3s ease-in forwards infinite alternate-reverse;
  }
  .parent:hover .child-2 {
    animation: move2 2s ease-in forwards infinite alternate-reverse;
  }
  .parent:hover .child-3 {
    animation: move3 4s ease-in forwards infinite alternate-reverse;
  }
  .parent:hover .child-4 {
    animation: move4 5s ease-in forwards infinite alternate-reverse;
  }
  .parent:hover .child-5 {
    animation: move5 4s ease-in forwards infinite alternate-reverse;
  }

  
  @keyframes move {
    0% {
      transform: translateX(0);
    }
    33%{
      transform: translateX(200px);
    }
    66%{
      transform: translateY(100px) translateY(100px);
    }
    100% {
      transform: translateX(200px);
    }
  }
  
  @keyframes move2 {
    0% {
      transform: translateX(0);
    }
    33%{
      transform: translateX(-200px);
    }
    66%{
      transform: translateY(-100px) translateY(-100px);
    }
    100% {
      transform: translateX(0px);
    }
  }

  @keyframes move3 {
    0% {
      transform: translateY(200px);
    }
    33%{
      transform: translateX(-200px);
    }
    66%{
      transform: translateY(20px) translatex(-200px);
    }
    100% {
      transform: translateX(-20px);
    }
  }

  @keyframes move4 {
    0% {
      transform: translateX(0px);
    }
    33%{
      transform: translateX(300px);
    }
    66%{
      transform: translateY(-300px);
    }
    100% {
      transform: translateX(0px);
    }
  }


  @keyframes move5 {
    0% {
      transform: translateX(0px);
    }
    25%{
      transform: translateX(200px);
    }
    50%{
      transform: translateY(-200px);
    }
    75%{
      transform: translateY(200px);
    }
    100% {
      transform: translateX(-200px);
    }
  }
  

body {
  background-color: rgb(255, 255, 255);